apiVersion: apps/v1
kind: Deployment
metadata:
  name: timeguessr-frontend
  namespace: tg
  labels:
    app: timeguessr-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: timeguessr-frontend
  template:
    metadata:
      labels:
        app: timeguessr-frontend
    spec:
      containers:
      - name: frontend
        env:
        imagePullSecrets:
        - name: regcred
        image: mikkelgunhildsbu/timeguessr-frontend:latest  
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"

---

apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: timeguessr-frontend
  namespace: tg
  labels:
    app: timeguessr-frontend
spec:
  to:
    kind: Service
    name: timeguessr-frontend
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
---

apiVersion: v1
kind: Service
metadata:
  name: timeguessr-frontend
  namespace: tg
  labels:
    app: timeguessr-frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: timeguessr-frontend

